.flow-editor-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 16px;
  height: 60px;
  box-shadow: 0 2px 5px rgb(0 0 0 / 8%);
  z-index: 9999;
}

.flow-editor-header-title {
  display: flex;
  align-items: center;
  overflow: hidden;
  color: #000000d9;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: -.18px;
  white-space: nowrap;
  text-decoration: none;
  letter-spacing: .6px;
  user-select: none;
  .logo {
    margin-right: 8px;
    font-size: 20px;
  }
}