.flow-editor-tools {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 10px 0;
  margin-top: 3px;
  height: 100%;
  width: 65px;
  box-sizing: border-box;
  background-color: #fafafa;
  border-right: 1px solid #efefef;
  z-index: 999;
  .iconfont {
    display: block;
    font-size: 28px;
    padding: 2px 8px;
    cursor: pointer;
    border-radius: 6px;
    &:hover {
      background-color: #efefef;
    }
  }
}